@import "../../styles/colors.module.scss";

.selected {
  border: none;
  background-color: $color-secondary;
}

.unSelected {
  border: none;
  background-color: lighten($color: $color-secondary, $amount: 30);
  &:hover {
    cursor: pointer;
    background-color: lighten($color: $color-secondary, $amount: 30);
  }
}
