@import "../../styles/colors.module.scss";

.labeledInput {
  font-size: large;
  padding: 0.5rem;
  width: 100%;  
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputDisabled {
  color: $color-secondary-light;
}
