@import "../../styles/colors.module.scss";

.tabItem {
  color: $color-tab-unselected;
  font-size: large;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    color: $color-tab-selected;
  }
}

.selectedTabItem {
  color: $color-tab-selected;
}
