$color-primary: #8a2be2;
$color-primary-dark: #40005d;
$color-primary-light: #c3b4f3;
$color-secondary: #2a2a2a;
$color-secondary-dark: #1f1f1f;
$color-secondary-light: #4b4b4b;

$color-tab-selected: $color-secondary-light;
$color-tab-unselected: white;

$color-hover: lighten($color-secondary, 0.5);
