$color-primary: #0b2942;
$color-primary-dark: #0b2942;
$color-primary-light: #1b4364;
$color-primary-lighter: #42729a;

$color-secondary_darker: #38446b;
$color-secondary_dark: #4b5781;
$color-secondary: #9697b6;
$color-secondary-light: #bebfd0;
$color-secondary-lighter: #f1f1f4;

$color-accent: #cb9821;
$color-enabled: black;
$color-disabled: rgba(211, 211, 211, 0.63);

$color-text-dark: $color-primary;
$color-text-light: $color-secondary-lighter;

$color-tab-selected: $color-accent;
$color-tab-unselected: $color-secondary-lighter;

$color-hover: $color-secondary-light;
