@import "./colors.module.scss";

@mixin medium-screen {
  @media (min-width: 28rem) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: 64rem) {
    @content;
  }
}

@mixin hover-icon {
  &:hover {
    fill: $color-hover;
    cursor: pointer;
  }
}

@mixin hover-button {
  &:hover {
    background-color: $color-hover;
    @content;
  }
}
