@use "./dimensions.module.scss";
@import "./colors.module.scss";

@mixin medium-screen {
  @media (min-width: dimensions.$medium-screen-min-width-in-rem) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: dimensions.$large-screen-min-width-in-rem) {
    @content;
  }
}

@mixin hover-icon {
  &:hover {
    fill: $color-hover;
    cursor: pointer;
  }
}

@mixin hover-button {
  &:hover {
    background-color: $color-hover;
    @content;
  }
}

@mixin transparent {
  background-color: transparent;
  border: 0;
  outline: none;
}
