@import "../../styles/dimensions.scss";
@import "../../styles/mixins.scss";

.dateTimeSpanFilter {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;

  @include medium-screen {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }
}
